h1,p {
    text-align: center;
}

ul, iframe {
    margin-left: 25%;
    text-align: center;
}

li {
    text-align: left;
}

body {
    font-family: verdana;
    color: #7bff00;
    background-image: url(IMG_3282r2.JPG);
}

a {
    font-family: verdana;
    color: #7bff00;
}

body input,body label {
    display: block;
}

#ownAxis input {
    float: left;
}

#removedLines input {
    float: left;
}

#removedLines {
    display: none;
}